name: hello-world

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  say-hello:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Say Hello
        run: echo "Hello, World!"